# other requirements
# django-app-helper
https://github.com/FinalAngel/django-app-helper/archive/refs/heads/develop.zip#egg=django-app-helper

coverage
isort
flake8
# needed for the build to work
uwsgi
# currently breaks ci because it wants rust now
cryptography<3.4
