# other requirements
django-app-helper
coverage
isort
flake8
# needed for the build to work
uwsgi
pillow
packaging
# support for python 3.6
asgiref==3.4.1
# currently breaks ci because it wants rust now
cryptography<3.4
urllib3<1.27
